# Backend
REFINEQ_DATA_ROOT=/data
REFINEQ_HOST=0.0.0.0
REFINEQ_PORT=8000

# Web server and reverse proxy
REFINEQ_API_ORIGIN=http://api:8000
REFINEQ_DOMAIN=:80
REFINEQ_HTTP_PORT=80
REFINEQ_HTTPS_PORT=443

